<nav class="navbar navbar-default">
    <div class="color">
        <div class="navbar-header">
            <img src="https://www.bajajallianz.com/content/dam/bagic/index/category-circle-inner-family.png" alt="">
            <a class="navbar-brand">Health Care Management</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right bb">
                <div class="det">
                    <div class="login" *ngIf="!hide" style="cursor: pointer;">
                        <p routerLink="/login"><i class="fas fa-sign-in-alt" style="font-size: 20px;"></i> Login |  <i class="material-icons" style="font-size:20px;">person</i> Signup</p>
                    </div> 
                    <div class="login" *ngIf="hide" style="cursor: pointer;">
                        <p (click)="log()"><span class="glyphicon glyphicon-user"></span>{{name}} | <span id="off" class="glyphicon glyphicon-off"></span></p>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</nav>
