<br><br><br>
<br><br><br>
<br><br><br>
<footer>
    <br><br><br>
    <div class="container">
        <div class="contact">
            <h2>Contact Us</h2>
            <P>DrNo: 3-9-0-1,Gumbala Complex</P>
            <P>Vijayawada</P>
            <P>Andhra Pradesh</P>
            <p>Mobile Number: 9174589638</p>
        </div>
        <div class="blog">
            <h4><b>TollFree : 180245632</b></h4>
            <h4><b>About us</b></h4>
            <h4><b>Home</b></h4>
            <h4><b>Blog</b></h4>
        </div>
    </div>
    <br><br><br>
    <div class="downFooter">
        <div class="">
            <img src="https://www.bajajallianz.com/content/dam/bagic/index/category-circle-inner-family.png" alt="">
        </div>
        <div class="">
            <h4> CopyRights &copy;:2021 All Rights Reserved By Health Care Management<br>
                Design and Developed By VENKATA RAMANA
            </h4>
        </div>
    </div>
</footer>