<div class="container">
    <h2 style="color: steelblue;">Admin Profile..</h2>
    <br>
    <div class="card">
        <div class="group">
            <div class="card-body">
                <i class="material-icons" style="font-size:168px;color:black;margin-top: 60px;">person</i>
            </div>
            <div class="card-footer">
                <h3><b>Full Name :</b>       {{details.name}}</h3>
                <h3><b>Email :</b>           {{details.email}}</h3>
                <h3><b>Mobile Number :</b>   {{details.mobileNumber}}</h3>
                <h3><b>State :</b>           {{details.state}}</h3>
                <h3><b>District :</b>        {{details.district}}</h3>
                <h3><b>City :</b>            {{details.city}}</h3>
                <h3><b>Pincode :</b>         {{details.pincode}}</h3>
            </div>
        </div>
    </div>
</div>