<div class="container">
    <h2 style="color: steelblue;">Doctor Profile..</h2>
    <br>
    <div class="card">
        <div class="group">
            <div class="card-body">
                <i class="material-icons" style="font-size:168px;color:black;margin-top: 60px;">person</i>
            </div>
            <div class="card-footer">
                <h3><b>Full Name :</b>       {{details.doctorName}}</h3>
                <h3><b>Email :</b>           {{details.email}}</h3>
                <h3><b>Mobile Number :</b>   {{details.mobileNumber}}</h3>
                <h3><b>Specialization :</b>  {{details.specialization}}</h3>
                <h3><b>Qualification :</b>        {{details.qualification}}</h3>
                <h3><b>Experience :</b>            {{details.experience}}</h3>
            </div>
        </div>
    </div>
</div>